[submodule "lib/raygui"]
	path = lib/raygui
	url = https://github.com/raysan5/raygui
[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "lib/zig"]
	path = lib/zig
	url = https://github.com/ziglang/zig
[submodule "lib/rres"]
	path = lib/rres
	url = https://github.com/raysan5/rres
